body{
    display: flex;
    background-image: url("grad.jpeg");
    background-size: cover;
}

h1{
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: black;
}

.left{
    background-color: white;
    margin-top: 100px;
    margin-left: 20%;
    padding: 30px 80px 120px 80px;
    height: 450px;
    width: 400px;
    border-radius: 15px 0 0 15px;
    color: grey;

}

.right{
    background-color: rgb(212, 244, 255);
    margin-top: 100px;
    margin-right: 80%;
    padding: 30px 80px 100px 80px;
    border-radius: 0 15px 15px 0;
}
h3{
    font-size:25px;
}

#total{
    text-align: end;
    font-size: 20px;
}

hr{
    width: 200px;
    border: 1px rgb(0, 0, 0) solid;
}
#inline{
    width: 150px;
    display: flex;
    
}
input{
    width: 400px;
    height: 40px;
    padding-left: 20px;
    border: none;
    background-color: #ececec;
    border-radius: 5px;
}

button{
    margin-top: 30px;
    width: 422px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgb(21, 213, 0);
    color: white;
    font-size: larger;
    
}


